{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    <title>Comic Verse</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light" style="background-color: #2B4C7E !important;">
  <div class="container-fluid">
      <a class="navbar-brand" id="logo">ComicVerse</a>
       <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="O que você procura?">
        <button class="btn btn-outline-success" type="submit" id="kart">Procurar</button>
        </form>
  </div>
    </nav>
    
     <div class="container-fluid" id="navbarU">
        <form>
            <div class="row" style="background-color: #1F1F20 !important;">
                <div class="col" >
                    <a>
                        <p class="fs-5 fw-semibold" style="color: #DCE0E6 !important;">Comic</p>
                    </a>
                </div>
                <div class="col">
                    <p class="fs-5 fw-semibold" style="color: #DCE0E6 !important;">Graphic Novels</p>
                </div>
                <div class="col">
                    <p class="fs-5 fw-semibold" style="color: #DCE0E6 !important;">Manga</p>
                </div>
                <div class="col">
                    <p class="fs-5 fw-semibold" style="color: #DCE0E6 !important;">Fantasia</p>
                </div>
                <div class="col">
                    <p class="fs-5 fw-semibold" style="color: #DCE0E6 !important;">Livros</p>
                </div>
                <div class="col">
                    <p class="fs-5 fw-semibold" style="color: #DCE0E6 !important;">Vendas & Ofertas</p>
                </div>
            </div>
        </form>
    </div>
    <form>
            <div class="row">
                <div class="col" align="center">
                    <a>
                          <img src="{% static 'images/justice_league.jpg' %}" alt="">
                    </a>
                </div>
            </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>